.table-main__container {
  margin: 15px 95px;
  display: flex;
  align-items: center;

  background: #ffffff;
  border: 0 solid #e2e8f0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 5px 15px;
}
