.table-main__ul {
  list-style: none;
  display: flex;
  width: 1104px;
}

.table-main__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.table-main-list__member,
.table-main-list__status,
.table-main-list__email,
.table-main-list__team {
  font-weight: 300;
}

.table-main-list__member {
  width: 190px;
}

.table-main-list__status {
  width: 80px;
  text-align: center;
}

.table-main-list__email,
.table-main-list__team {
  width: 220px;
}

.table-main-list__member,
.table-main-list__status,
.table-main-list__email,
.table-main-list__team {
  line-height: 35px;
}
